.header_container {
  position: relative;
}
.header__lang-wrap {
  position: absolute;
  top: 0;
  right: 30px;
  width: 80px;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #A47312;
  box-shadow: -4px 4px 2px rgb(202 160 6 / 89%), 4px 4px 2px rgb(202 160 6 / 89%);
}
.header__lang-ru {
  padding-right: 5px;
  border-right: 1px solid #A47312;
}
.header__link-lang {
  font-weight: 500;
  transition: color 0.4s ease-in-out;
}
.header__link-lang:hover {
  color: #FFCC66;
}
.header__link-lang:active {
  color: #A47312;
}
.header__lang-wrap:active {
  transform: translateY(2px) translateX(-2px);
}
.hero_item_desc1-eng {
  margin-bottom: 80px;
}
.hero_article_block1-eng {
  padding-right: 134px;
}
.services_item_block-eng {
  padding-right: 0;
}
.contacts_item_block2-eng {
  margin-left: 76px;
}
.contacts_item_block3-eng {
  margin-left: 110px;
}
.contacts_item_block4-eng {
  margin-left: 110px;
}
.contacts_btn-eng {
  padding: 30px 55px;
}



